/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

body {
	background: #F1F1F1;
}

.advPlatformsCode {
	padding: 11px 6px;
    margin: 10px 0 10px;	
}

.html-active .wp-editor-area {
    min-height: 325px;
}

.tmce-active .mce-edit-area iframe{
    min-height: 305px;
}

.default-rule-wrap {
    padding:10px 0 20px 0 !important;
}

.license-tbl {
    background: white;
    border-bottom: 1px solid #f2f2f2;
}

.ifso-info-content .license-tbl{
    margin-top:20px;
}

.ifso-info-tab-geo .ifso-settings_paragraph{
    max-width:1000px;
}

.geo-license-section .ifso-info-title{
    margin-top: 20px;
    margin-bottom: -6px;
}

.ifso-settings-tbl {
    width: auto !important;
}

.ifso_setting_page_option_number_select {
    position: relative;
    top: 3px;
    height: 28px;
}

.license-tbl tbody {
    padding: 10px;
    display: block;
}

.license_expires_message {
    padding: 15px 10px;
}

.no_license_message {
    margin: 10px 0;
    text-align: left;
    font-size: 1.2em;
    display: block;
    color: #000;
    background: #e2ffe3;
    border: 2px solid #3cb543;
    padding: 16px 10px 16px 20px;
}

.no_license_message a {
    color: #2271b1;
    font-weight: 600;	
}

.no_license_message a:focus {
box-shadow: none;
}

.licenseTable {
	width:130px !important;
	padding: 20px 10px 20px 20px !important;
}

.ifso-settings-td {
    padding: 20px 10px 20px 20px !important;   
    vertical-align:baseline !important;
    width:220px!important;
}

.approved_license_message {
    border: 1px solid #46b450;
    color: #46b450;
    padding: 7px;
    margin-top: 10px;
    font-size:14px;
}

.licenseTopWhite {
	color:#fff;
}

.licenseTopRed {
	color:#d66249;
}

.licenseTopDeactivate, .licenseTopDeactivate:hover{
	text-decoration: underline;
	color:inherit;
}

.licenseTopDeactivate:focus {
	outline: none;
	color: inherit;
    box-shadow: none;
}

#ifso_helper_metabox .inside{
    padding:0;
    margin:0;
}

.helper-metabox-container {
    font-size: 1em;
    width: 270px;
    position: fixed;
    bottom: 90px;
    right: 16px;
    background: #fff;
    border: 1px solid gray;
    z-index: 99;
    border-radius:4px;
    box-shadow: 0 0 8.23px 5.48px #0000000D;
}

.ifso-helper-metabox-doc {
    list-style: none;
    border-bottom: 1px solid #434343;
    margin:0;
    padding:16px 12px 6px 12px;
}

.ifso-helper-metabox-doc li {
	margin-bottom: 10px;
    position:relative;
}

.ifso-helper-metabox-doc a{
    color:#434343;
}

.ifso-helper-metabox-doc li .link-icon{
    text-align: right;
    position: absolute;
    right: 0;
    transform: scale(1);
}

.helper-metabox-container .extra-links{
    background: #ededed;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 4px 4px;
}

.helper-metabox-container .extra-links a{
    color:#848484;
}

#ifso_triggers_metabox {
	background: #F1F1F1;
    border: none;
}

#ifso_triggers_metabox .postbox-header{
    display: none;
}
.postbox .postbox-header .hndle{
    cursor:default;
}
.postbox .postbox-header .handle-actions{
    display:none;
}

#poststuff #ifso_triggers_metabox .inside {
    margin: 0;
    padding: 0;
}

.post-type-ifso_triggers #adv-settings .metabox-prefs label {
	font-weight: normal;
	margin-bottom: auto;
}

@keyframes moveOutFadeIn {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(50%);
        opacity: .5;
    }
    50% {
        transform: translate(110%);
        opacity: 0;
    }
    51% {
        transform: translate(-110%);
    }
    60% {
        transform: translate(-50%);
        opacity: .5;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

.get-license {
	background: #8766f6;
    background: linear-gradient(270deg, #F6DEDD 0%, #E2E0F9 100%);
    padding: 10px 30px;
    margin-top: 20px;
    text-align: left;
    font-size: 1.05em;
    display: block;
    font-weight: 600;
}

.get-license .text {
    float: left;
    vertical-align: middle;
    padding: 7px 0;
    color: #404686;
}

.get-license-btn, .get-license-btn_red{
    text-align: center;
    margin-left: 20px;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.2em;
    float: right;
    min-width: 180px;
    box-sizing: inherit;
    text-decoration: none!important;
}

.get-license-btn:hover .license-message-arrow, .get-license-btn_red:hover .license-message-arrow{
    animation: .7s moveOutFadeIn;
}

.get-license-btn {
    background: #404686;
    border-radius: 16px;
    padding: 8px 15px;
    color: white!important;
    margin-top:1px;
}

.get-license-btn_red {
    background: none;
    color: #D25133!important;
    border: 1px solid;
    padding: 6px 4px 4px;
    border-radius:4px;
    margin-top: 3px;
}

.cookie {
    padding: 20px;
}
.analytics-reset-all-wrapper {
	margin-top: 10px;
    font-size: 0.8em;
    color: #00a0d2;
    font-weight: 400;
    cursor: pointer;
}

.reset-all-views-count, .reset-all-views-count:hover {
	text-decoration: none;
    cursor: pointer;
}

.versioninstructions {
	margin-bottom: 2.5em;
}

.repeater-template {
	display: none;
}

.reapeater-item-cloned {
	display: none;
}

.reapeater-item-cloned-loaded {
	display: block;
}

.custom-url-display {
	display: none;
}

.ab-testing-custom-sessions-display {
    display:none;
}

.ifso-autocomplete-selection-display {
    display:none;
}

.user-behavior-returning-custom {
    display:none;
}

.recurrence-container, .ifso-groups-container {
    display:none;
}

.set-time-info-container {
    display:none;
}

.noticebox-container{
    display:none;
}

.geo-info-container {
}

.ifso-hide-me {
    display:none;
    margin-bottom:50px;
}

.ifso-trigger-selection {
    display:none;
}

.recurrence-option {
    margin-bottom:2px;
    float: left;
    width: 100%;
}

.recurrence-option-title {
    float: left;
    margin-left:5px;
}

.recurrence-radio {
    float:left;
    margin: 3px 0 !important;
}
.recurrence-radio:checked:before {
    width: 5px !important;
    height: 5px !important;
    margin: 2px !important;
}

.recurrence-custom-selection {
    margin-top: 5px;
}

.recurrence-custom-selection-container {
    display:none;
    margin-top:4px;
}

.user-behavior-device {
    display:none;
	padding:10px 6px;
	font-size: 14px;
}
input.form-control.deviceformcontrol {
	margin: 0 3px 3px;
}

input.form-control.deviceformcontrol:before {
    font-size: 18px;
    margin: -5px 0 0 -5px;
    left: 2px;
    position: relative;
}

#wp-trigger-default-wrap {
	margin-top: 20px;
}

.submit-btn-wrap {
	margin-left: 0.8em;
}

.submit-btn-wrap input {
	vertical-align: middle !important;
}

.rule-item:nth-child(odd) {
   background: #F8F8F8;
}
.rule-item:nth-child(even) {
    background: #fff;
}

.referrer-custom, .ab-testing-custom, .url-custom, .referrer-selection, .rule-item .instructions, .ab-testing, .cond-field  {
	display: none;
}

.ifso-form-group textarea.form-control{
    height : 160px!important;
}

.rule-item .instructions {
	border-radius: 5px;
    background: transparent;
    margin-bottom: 10px;
    padding: 0.5em 0em;
}

.rule-item .instructions p {
	margin: 5px 2px;
}

.page-url-ignore-case-wrap{
    display:none;
}

/* Schedule */
.schedule-header th {
    min-width: 27px;
    font-size: 11px;
}

.ifsodatetimepicker {
    padding-left:32px!important;
	padding-top: 8px!important;
}

.pick-date-container {
    display:none;
    position:relative;
}

.pick-date-container:before {
    color: #555d66;
    content: "\f073";
    font-family: FontAwesome;
    position: absolute;
    font-size: 16px;
    top: 5px;
    left: 9px;
}

.setgeoinstructions p {
	padding: 7px 10px;
    margin: 0;
}
.setgeoinstructions a {
    text-decoration: underline;
}

.closeX {
    position: absolute;
    top:0;
    right:0;
    padding: 2px;
    line-height: 10px;
    font-size: 12px;
    cursor:pointer;
}

.show-selection {
    display: block;
}

.rule-wrap {
    margin: 20px 0;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-wrap: wrap;
}

.instructionabovefield {
	margin: 1em 0 0.4em;
}

.rule-wrap h3 {
    font-size: 1.5em;
    line-height: 1.3em;
    color: #555d66;
	font-weight: 400;
}

.rule-wrap h3:before {
	margin-left: 1em;
}

.rule-toolbar-wrap {
    border-bottom: 1px solid #dedfe0;
    padding: 0;
    float: left;
    width: 100%;
    background:#fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rule-toolbar-wrap-clear {
    margin-bottom: 0;
    border-bottom: 0;
}

.rule-toolbar-wrap h3 {
    margin: 1em;
    font-size: 1.5em;
    font-weight: normal;
    float: left;
    color: #7e8188;
    line-height: 0.9em;
}

.rule-toolbar-wrap .toolbar-buttons-wrap{
    flex-grow: 1;
}

.rule-toolbar-wrap h3 img {
    margin: 0 9px 2px 0;
}

.ifso-trigger-condition-wrap, .ifso-trigger-content-wrap{
    padding: 30px 20px 0;
}

.ifso-trigger-condition-wrap{
    background:#EFEFEF;
    min-height: 490px;
}

.ifso-trigger-content-wrap{
    background:#F8F8F8;
}

.ifso-trigger-condition-wrap .title, .ifso-trigger-content-wrap .title{
    margin-top:0;
    color:#000;
}

.version-count {
	color: #000;
    background: #E5E5E5;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-size: 0.9em;
	margin-right: 1em;
	white-space: nowrap;
}

.version-alpha {
    color: #003742;
    font-weight: bold;
}

.btn-freeze, .ifso-btn-drag, .ifso-btn-dup, .ifso-btn-version-name,.btn-delete {
    color: #767779;
    background-color: transparent;
    border: none;
    border-left: 1px solid #dedfe0;
    float: right;
    border-radius: 0;
    padding: 1.3em 1.6em 1.1em;
    -webkit-transition: all 200ms ease-in-out 0s;
    -moz-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
    height: 57px;
}

.btn-delete i {
    font-size: 1.5em;
}

.btn-delete:hover, .btn-freeze:hover {
    color: #4f575f;
    background: rgba(0, 0, 0, 0.05);
}

.highlighted {
	color: #697bf8;
}

.btn-add {
	background: transparent;
    color: #6a6dd4;
    border: 2px solid;
    line-height: 1;
    font-size: 1.3em;
    border-radius: 3px;
    padding: 10px 15px;
    -webkit-transition: all 200ms ease-in-out 0s;
    -moz-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
    outline:none;
}

.btn-add .fa-plus:before {
    content: "+";
    font-weight: bold;
}

.btn-add .highlighted{
    color: #696ddb;
    position: relative;
    bottom: -2px;
    line-height: 0;
    font-size: 1.5em;
}

.btn-add:hover {
    color: #697bf8;
}

.submit-bottom-wrap {
	text-align: center;
	padding: 2em 0px;
}

.submit-bottom-wrap .reminder{
	font-size: 1.5em;
    width: 480px;
    margin: 0 auto;
}

.submit-bottom-wrap .submit {
	text-align: center;
	float: none !important;
}

.rule-item select, .rule-item input {
	margin-bottom: 0;
}

.instructions pre code {
	font-size: 0.9em;
}

.instructions code b {
    color: #27CCC0;
}

.post-type-ifso_triggers #titlediv #title-prompt-text {
	color: #72777c;
	position: absolute;
	font-size: 1.2em;
	line-height:2em;
	padding: 4px 10px;
	font-weight: 400;
}

.wysiwyg-not-valid {
	border: 1px solid;
	color: red;
}

.html-active .switch-html-cloned, .tmce-active .switch-tmce-cloned {
    background: #f5f5f5;
    color: #555;
    border-bottom-color: #f5f5f5;
}

.ifso-toggle-sections-wrap{
    margin-top:12px;
}


.ifso-sc-metabox-toggle-wrap {
    margin: 15px auto;
    width: 75%;
}

.ifso-sc-metabox-toggle-wrap p{
    margin: 0;
    font-size: 0.9em;
}

.ifso-sc-metabox-toggle-wrap p strong{
    display:block
}

#ifso_shortcode_display .ifso-sc-metabox-toggle-link, #ifso_shortcode_display .shortcode-tab a{
    color: #777;
    font-weight: 400;
    cursor: pointer;
}

#ifso_shortcode_display .ifso-sc-metabox-toggle-link:before, #ifso_shortcode_display .shortcode-tab a:before{
    content:">";
    color: #6a6dd4;
    padding: 0 5px 0 2px;
    font-size: 0.8em;
    top: -1px;
    position: relative
}

.ifso-sc-metabox-toggle-link{
    margin: 0.3em 0;
}

.query-string-err-notification {
	text-align: left;
    color: red;
    border: 1px solid red;
    padding: 0.2em 0.6em;
    margin-top: 10px;
}

.ifso-pages-visited-settings-explain {
	font-size:12px;
}

tr.type-ifso_triggers{
    float:none;
}

tr.type-ifso_triggers .column-trigger {
	direction: ltr;
}

/* fix for polylang plugin */
th[class*=" column-language_"] {
	width: 2.2% !important;
}

.initial-instructions {
	background: #003742;
    padding: 8px 14px;
    border-left: 2px solid #27BADD;
    border-top: 1px solid rgb(198, 198, 198);
    border-right: 1px solid rgb(198, 198, 198);
    border-bottom: 1px solid rgb(198, 198, 198);
    border-radius: 3px;
    color: #fff;
}

.initial-instructions b {
	border-radius: 50%;
    padding: 2px 6px;
    margin: 0 2px;
    background: #2ab7d9;
    font-size: 11px;
}

.ab-testing-custom {
    height:28px;
}

.default-repeater-item {
    background: white !important;
}

.default-repeater-item, .reapeater-item {
    position:relative;
    border-left: 3px solid #696DDB;
}

/* Begin Testing Mode Section CSS */
.ifso-tm-section {
    float:right;
    width:100%;
    margin-top:0;
    padding:0;
}

.ifso-tm-section>.col-md-3{
    height: 20px;
    background: #EFEFEF;
    padding-bottom:30px;
}

.ifso-tm-section .circle {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    border: 1px solid #a9a9a9;
    background: #f8f8f8;
    float: right;
    cursor: pointer;
}

.ifso-tm-section .circle-active {
    background: #27cc52;
    border-radius: 50%;
}

.ifso-tm-section .text {
    float:right;
    margin-left:5px;
    margin-top: 2px;
}

.ifso_freeze_tooltip_styling {
    background: none !important;
    color: #d05033 !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 0.8em !important;
}

.ifso-tm-overlay,
.ifso-freeze-overlay {
    width:100%;
    height:100%;
   background: rgba(245, 245, 245, 0.67);
    text-align:center;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    line-height:100%;
}

.ifso-tm-overlay .text,
.ifso-freeze-overlay .text {
    color: #d05033;
    background: #fbfbfb;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    border: 2px solid #d44f2f;
    padding: 20px;
}

.ifso-freezemode .text .fa-play {
    color:#d44f2f;
}

.cancel-freezemode {
    font-size: 0.75em;
    cursor: pointer;
}

.testing-mode-message {
    font-size: 0.75em;
}

.ifso-draggable-icon {
    -webkit-transform: rotate(45deg);
    -webkit-transform-style: rotate(45deg);
    -ms-transform: rotate(45deg);
    -ms-transform-style: rotate(45deg);
    transform: rotate(45deg);
}

.freeze-overlay-active-container {
    z-index:1500;
    background-color: white;
}

.ifso-tm-section .tm-tip {
    display: block;
    float: right;
    border: 1px solid #a2a2a2;
    margin-left: 4px;
    cursor: default;
    color: #a2a2a2;
    border-radius: 50%;
    padding: 0 4px;
    font-size: 9px;
    line-height: 13px;
    margin-top: 4px;
    text-decoration: none;
}

.ifso-tip, .ifso-tip:hover, .ifso-tip:focus, .ifso-tip:visited, .ifso-tip:active {
	border: 1px solid #337ab7;
    border-radius: 50%;
    padding: 1px 4px 0;
    font-size: 0.8em;
    margin-left: 5px;
	text-decoration:none;
}

.ifso-tipGrey, .ifso-tipGrey:hover, .ifso-tipGrey:focus, .ifso-tipGrey:visited, .ifso-tipGrey:active {
	border: 1px solid #929292;
    padding: 1px 3.8px 1px;
    font-size: 0.7em;
    color: #929292;
    border-radius: 50%;
    margin-left: 5px;
	text-decoration:none;
}

.line-tooltip {
	text-decoration: underline dotted #666;
}

.recurrence-tip {
    float: right;
}

.general-tool-tip {
    color: #a2a2a2;
    border: 1px solid #a2a2a2;
    border-radius: 50%;
    padding: 1px 3.5px;
    line-height: 10px;
    font-size: 7px;
    margin: 3px 5px;
    text-decoration: none;
    position: relative;
    bottom: 1px;
}

.general-tool-tip:hover {
	text-decoration:none;
	color:none;
}

.query-example {
	font-size: 12px;
    color: #a2a2a2;
}

/* End Testing Mode Section CSS */

@media screen and (max-width: 991px) {
    .rule-toolbar-wrap{
        z-index: 9;
        margin-bottom: 36px;
    }

    .ifso-trigger-condition-wrap{
        min-height: 0;
        background: inherit;
    }

    .ifso-tm-section > .col-md-3{
        background: inherit;
    }
}

/* Time & Date */
.ifso-start-at-date, .ifso-end-at-date {
    margin-bottom:-8px;
}

.schedule-rows td {
  width: 80px;
  height: 10px;
  margin: 3px;
  padding: 5px;
  background-color: #eee;
  cursor: pointer;
  border:1px solid #d3d3d3;
  line-height: 10px;
}
.schedule-rows td:first-child {
  background-color: transparent;
    text-align: left;
    position: relative;
    top: -5px;
    width: 0px;
    padding: 0 4px 0 0;
    font-size: 10px;
	border:none;
}
.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] {
  background-color: #27badd;
}
.schedule-rows td[data-disabled] {
  opacity: 0.55;
}

/* License Styles */

.locked-condition-box-container {
    float:left;
    text-align: center;
    padding:0;
    margin-bottom: 0;
}

.locked-condition-box {
    background-color:#cdecc9;
    border:1px solid #82ca9c;
    padding:10px;
}

.locked-condition-box .unlock-button {
    color: white;
    border-radius: 15px;
    background-color: #82ca9c;
    padding: 4px 20px;
    margin-top: 10px;
    display: inline-block;
}

.license-tbl span.description {
	font-size: 14px;
    color: red;
    font-style: italic;
    margin: 10px;
}

/* Google Places API */
  .locationField, #controls {
    position: relative;
  }
  .autocomplete {
    position: absolute;
    top: 0px;
    left: 10px; /* 0 */
    width: 81%; /* 85% */
  }
  .remove-autocomplete ,.results_display .remove-location {
    width:15%;
    right:0;
    top: -4px;
    position: absolute;
    background: none;
    border: none;
    line-height: 23px;
    color: #d25134;
  }
  .specific-location {
    color:#0073aa;
    word-wrap: break-word;
    width: 85%;
    display:inline-block;
  }
  .map-marker-near-input {
    margin-right:3px;
    color:#555d66;
  }
  .gelocation-add-btn {
    color: #27CCC0;
    background:none;
    border:none;
  }
  .label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
  }
  .field {
    width: 99%;
  }
  .slimField {
    width: 80px;
  }
  .wideField {
    width: 200px;
  }
  .locationField {
    margin-bottom: 2px;
  }
  .locationField .autocomplete {
    font-size:10px;
  }
  .locations-description {
    margin: 0px 0 10px;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
  }
  .ifso-autocomplete-fields-container {
  }
  .ifso-autocomplete-fields-container.shown, .ifso-autocomplete-generator .results_display {
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    padding: 10px;
    border-radius: 2px;
    background: #e3e3e3;
  }
  .selection-inputs-container {
    position:relative;
  }
  .geo-autocomplete, .page-visit-autocomplete {
    width:100%;
    padding: 3px 5px;
  }
  .select-city-container, .select-manual-city-container, .select-manual-state-container {
    position: relative;
    width: 100%; 
    height:26px;
  }

  h3.select-city-container,h3.ifso-autocomplete-state{
    font-size: 1em;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin: 0;
    height: auto;
  }
  
  #geo-timezone-selection {
    height: 2em;
    color: #787878;
  }
  
.autocomplete {
    left:0;
    width:100%;
}

.selection-title {
    margin: 10px 0 10px 4px;
}

.geo-timezone-selection {
	height: 2em;
    color: #787878;
}

/* Recurrence, Groups */

.recurrence-title, .groups-title {
    border-bottom:1px solid #dadada;
    padding-bottom:5px;
    margin-bottom:5px;
    font-size:12px;
}

.recurrence-selection, .groups-selection  {
    display:none;
}

.recurrence-expander, .groups-expander {
    border: 1px solid #b4b4b4;
    background: #eeeeee;
    color: #6d6d6d;
    cursor: pointer;
    padding: 0px 3px;
    margin-right: 2px;
}

.recurrence-expander-show, .groups-expander-show {
    padding: 0px 4px;
}

.groups-selection .group_name_checkbox{
    vertical-align: unset;
    margin:0 5px;
}

.groups-selection .group_action_subtitle{
    margin: 10px 0 ;
    font-weight:bold;
}

.groups-selection label{
    font-weight:normal;
}

.groups-selection .no_groups_notice{
    padding: 10px;
    font-style: italic;
    text-align: center;
    border: 1px solid #dadada;
    color:#b4b4b4;
}

  /* General css corresponds geolocation */
.hide-field {
    display:none;
}
.ifso-input-autocomplete {
    width: 100%;
}

.ifso-autocomplete-container input,
.ifso-autocomplete-container select {
    width: 92%;
    margin-left:8%;
}

.ifso-autocomplete-container {
    display: none;
    float: left;
    width: 100%;
}

.ifso-autocomplete-wrapper {
    line-height: 1.7;
}

.ifso-geo-selected {
    display: block !important;
	margin: 10px 0;
}


input.ifso-autocomplete-opener {
    margin-top: 0;
}

/* Flags CSS - Easy-Autocomplete */
.flag {
    width: 16px;
    height: 11px;
    background:url(../images/flags.png) no-repeat;
    display: inline-block;
    margin-right: 5px;
}

/* Settings Page related CSS - Begin */
.ifso-admin-tabs-header {
    list-style:none;
    width:100%;
    border-bottom:1px solid #cccccc;
    margin-bottom: 42px;
}

.ifso-admin-tabs-header .ifso-tab {
    background-color:#e5e5e5;
    color:#333;
    font-size:18px;
    text-align:center;
    padding:10px 24px;
    cursor:pointer;
    margin: 0 3px 0 10px;
    border:1px solid #cccccc;
    border-bottom:none;
    display:inline-block;
}

@media screen and (max-width: 800px) {
    .ifso-admin-tabs-header .ifso-tab {
        margin-bottom: 10px;
    }
}

.ifso-admin-tabs-header .ifso-tab.selected-tab {
    background:#f1f1f1;
    border-bottom:2px solid #f1f1f1;
}

.ifso-geo-tabs-contents-wrapper .ifso-geo-page-tab-content, .ifso-admin-page-tab-content{
    display:none;
}

.ifso-info-title {
	padding: 15px 0 20px !important;
}

.ifso-license-tabs-wrapper {
    float: left;
    margin: 0;
    padding: 10px 10px 10px 0;
    width: 100%;
}

.ifso-info-tab-wrapper .ifso-general-info-wrapper, 
.ifso-info-tab-wrapper .geolocation-info-wrapper,
.ifso-license_paragraph {
    font-size: 14px;
    line-height: 1.7;
	max-width: 1020px;
}

.ifso-geo-page-tab-info .ifso-settings_paragraph{
    max-width: 730px;
    margin-bottom: 2em;
}

/*View Trigger page */

.version-symbol {
   text-align: left;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

.version-content {
    margin: 30px 0;
}

.ifso-primary-lang-checkbox {
    float: left;
    margin-top: 13px !important;
}

.ifso-primary-lang-container {
    float: left;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
}

/* Settings Page related CSS - End */

.ifso-modal-content:not(.modalContent .ifso-modal-content){
    display: none;
}

.ifso-modal-first-use .closebutton{
    background-color: transparent!important;
}

.ifso-modal-first-use, .ifso-modal-first-use-content img{
    max-width: 98vw!important;
}

.ifso-form-group {
    margin-bottom: 15px;
}

/* Settings Page Related Rules */
.ifso_settings_page_option {
    width:30px;
}

.ifso_settings_page_option[type='number'] {
    width:55px;
}

/* slider settings muliCohen*/ 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .tightcell {
    margin: 0 2px;    
}

.repeater #conditionbox_target>a:focus{
    box-shadow:none;
}

.emailBox {
    width:280px;
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-cs {background-position: -208px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-xk {background-position: -96px -165px}
.flag.flag-ye {background-position: -112px -165px}
.flag.flag-yt {background-position: -128px -165px}
.flag.flag-za {background-position: -144px -165px}
.flag.flag-zanzibar {background-position: -160px -165px}
.flag.flag-zm {background-position: -176px -165px}
.flag.flag-zw {background-position: -192px -165px}

.yellow-noticebox, .red-noticebox, .purple-noticebox{
    display: flex!important;
    align-items:center;
    position: relative;
    padding: 10px 10px;
    border-radius: 4px;
}

@media screen and (max-width: 1200px) and (min-width: 990px){
    #ifso-versions-container .yellow-noticebox, #ifso-versions-container .red-noticebox, #ifso-versions-container .purple-noticebox{
        padding:0;
    }
    #ifso-versions-container .yellow-noticebox::before, #ifso-versions-container .red-noticebox::before, #ifso-versions-container .purple-noticebox::before {
        margin-right: 6px;
    }
}

.yellow-noticebox{
    border: 1px solid #e7bc27;
    color: #e7bc27;
    background: #FFFCF4;
}

.red-noticebox{
    border: 1px solid #E46A69;
    color: #E46A69;
    background-color: #FDF7F7;
}

.purple-noticebox{
    border: 1px solid #6A6DD4;
    color: #6A6DD4;
    background: #F7F7FC;
}

.yellow-noticebox p,.red-noticebox p, .purple-noticebox p{
    margin:0;
}

.yellow-noticebox:before, .red-noticebox:before, .purple-noticebox:before,.ifso-noticebox-icon{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.yellow-noticebox:before, .red-noticebox:before, .purple-noticebox:before{  /*NOTICEBOX ICON*/
    min-width: 24px;
    min-height: 24px;
    margin-right: 12px;
}

.yellow-noticebox:before{
    content:"!";
    background: #F5CF48;
}

.red-noticebox:before{
    content:"!";
    background-color: #E46A69;
}
.purple-noticebox:before{
    content:"i";
    background: #6A6DD4;
    font-family: Script MT Bold;
}

.noicon-noticebox:before{
    display:none;
}

.utm-noticebox{
    margin:2vh 0;
}

.recurrence-selection .recurrence-override label{
    vertical-align: sub;
    font-weight: normal;
    margin-top: 10px;
}

.geo-license-section .form-table .description.active, .license-form .license-tbl .description.active{
    color:#3caf66;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spin{
    animation: spin 2s linear infinite;
}

.spinease{
    animation: spin 2s ease-in infinite;
}

.ifso-turnme{
    display:inline-block;
    margin-right:2px;
}

.ifso-turnt-around{
    transform: rotate(270deg);
    display: inline-block;
}

.ifso-settings-page-wrapper .ifso_settings_page_option {
    padding: 3px 5px;
}

.ifso-settings-title{
    margin-top:20px;
    display:block;
}

.ifso-helper-metabox-doc a, .php-analytics-toggle-wrap a:focus{
    box-shadow:none;
}

.ifso-form-group .broken-condition-notification{
    border: 1px solid #f25419;
    color: #f25419;
    background: #ffdfd3;
    padding: 1vh 1vw;
}

.resetAllAnalyticsCounters{
    color: #a00 !important;
    text-decoration:none;
}

.resetAllAnalyticsCounters:hover{
    text-decoration:underline;
}

.too-many-conditions-notif{
    margin-top: 10px;
}

#ifso-all-groups-table{
    width:100%;
    margin-top:2vh;
}

#ifso-all-groups-table .delete{
    color: #a00;
}

.wrap .add_new_group{
    margin:2vh 0;
}

.add_new_group .button.button-primary{
    background-color: #696DDB;
    border-color: #696DDB;
    margin-left: 5px;
    border-radius: 5px;
    padding: 0 27px 1px 27px;
}

.ifso-form-group select.form-control{
    width:100%!important;
}

.ui-tooltip{
    padding:0!important;
    border:none;
    box-shadow:none;
}

.ui-tooltip-content{
    padding:16px;
    background:#6665e7 ;
    color:#fff;
    border-radius:4px;
}


.analytics-noticebox,.pagebuilders-noticebox{
    width: 100%;
    margin: 10px auto;
}

input.pageurl-checkbox{
    margin: 0 3px 3px;
    width: 10px;
    min-width: 10px;
    height: 10px;
}

/*Caching compat modal css begin*/
#ifso-modal-caching-compat{
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 648px;
    min-height: 347px;
    border-radius:8px;
    z-index: 99;
    border: 1px solid #6665d8b0;
    box-shadow: 0px 0px 21px 6px #33333363;
}

#ifso-modal-caching-compat .content{
    width: 80%;
    text-align: left;
    color: #1b0644;
    margin: 50px auto 42px auto;
}

#ifso-modal-caching-compat .content p{
    font-size:16px;
    line-height:34px;
}

#ifso-modal-caching-compat .buttons{
    padding: 0px 40px 40px;
    font-size:14px;
    display:flex;
    justify-content: end;
}

#ifso-modal-caching-compat .buttons .button{
    margin: 0 0 0 10px;
    color:#6a6dd4;
    border:1px solid #6a6dd4;
    padding: 2px 16px;
    font-size: 14px;
    min-height: 0;
    background:#fff;
}

#ifso-modal-caching-compat .buttons .cls{
    padding: 2px 40px;
}

@media screen and (max-width: 700px){
    #ifso-modal-caching-compat{
        width:100%;
    }
    #ifso-modal-caching-compat .buttons{
        justify-content:center;
    }
}

/*Caching compat modal css end*/

/*"Need help?" modal START*/
.ifso-modal-need-help{
    position: fixed;
    z-index: 98;
    width: 300px;
    background: #697bf8;
    bottom: 27px;
    right: 100px
}

.ifso-modal-need-help::after{
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    right: -15px;
    left: auto;
    z-index: -1;
    border-width: 20px 0px 20px 30px;
    border-color: transparent #697bf8;
    bottom: 10px;
    Top:Auto;
}

.ifso-modal-need-help .content{
    color: white;
    display: inline-block;
    padding: 28px 30px;
    font-size: 18px;
}

.ifso-modal-need-help .content p{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    margin: 0 0 10px 0;
}

.ifso-modal-need-help .closeX{
    position: absolute;
    right: 0;
    color:white;
    border-color:white;
    padding: 7px 5px;
    font-size: 16px;
}
/*"Need help?" modal END*/

.post-type-ifso_triggers input[type="radio"]{
    height:11px;
    width:11px;
}

.postbox#ifso_shortcode_display, .postbox#ifso_analytics_metabox{
    width: 50%;
    height: 302px;
    display: inline-block!important;
    vertical-align: middle;
    margin-right: -3px;
    border: none;
    overflow: auto;
    scrollbar-width: thin;
}

@media screen and (max-width: 1125px) and (min-width: 850px), (max-width: 650px){
    .postbox#ifso_shortcode_display, .postbox#ifso_analytics_metabox{
        width: 100%;
    }
}

#ifso_analytics_metabox{
    margin-right:-5px!important;
    right:1px;
}

#ifso_analytics_metabox .inside, #ifso_shortcode_display .inside{
    padding:0;
}

#ifso_shortcode_display .ifso-admin-tabs{
    padding:0 16px 15px 16px;
}

#ifso_shortcode_display .ifso-admin-tabs .shortcode-tab .shortcode .code{
    border:none;
    height: 59px;
}

#ifso_shortcode_display .ifso-admin-tabs .shortcode .code, #normal-sortables #ifso_shortcode_display .ifso-admin-tabs select{
    width:85%;
    display:block;
}

#ifso_shortcode_display .postbox-header, #ifso_analytics_metabox .postbox-header{
    display:none;
}

.post-type-ifso_triggers #post .postbox .ifso-admin-tabs-header{
    margin: 0 0 30px 0;
}

.post-type-ifso_triggers #post .postbox .ifso-admin-tabs-header .ifso-tab{
    background: none;
    border: none;
    font-size: 16px;
    padding: 11px;
    margin: 0 14px 0 10px;
}

.post-type-ifso_triggers #post .postbox .ifso-admin-tabs-header .ifso-tab.selected-tab{
    background: none;
    border-bottom: 3px solid #696DDB;
    font-weight: 600;
    color: #333;
}

.post-type-ifso_triggers .ifso-admin-tabs{
    padding: 0 16px;
}


@media screen and (max-width:1630px){
    .post-type-ifso_triggers #post .postbox .ifso-admin-tabs-header{
        margin-bottom:20px;
    }

    .postbox#ifso_shortcode_display, .postbox#ifso_analytics_metabox{
        height:312px;
    }
}

.ifso-custom-version-name{
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
    width: 200px;
}

.ifso-custom-version-name input{
    position: absolute;
    top:-20px;
}

#major-publishing-actions>*:not(#delete-action,#publishing-action),
#minor-publishing-actions,
#misc-publishing-actions>*:not(.misc-pub-post-status,.misc-pub-visibility,.curtime){
    display:none;
}

#major-publishing-actions{
    overflow:auto;
}

.nodisplay{
    display:none!important;
}

.dodisplay{
    display:block!important;
}

/* if-so dashboard modals - common elements */
.modal-active.tiny-modal-overlay .modalContent .closebutton{
    fill: #515962 !important;
    background-color: transparent !important;
    border: 1px solid #515962;
    border-radius: 50%;
    width: 20px !important;
    padding: 3px !important;
    top: 10px;
    right: 10px;
}
/* if-so dashboard modal END */

.shortcode.shortcode-with-cpybtn{
    position:relative;
    display:block;
}

.shortcode.shortcode-with-cpybtn .cpy-shortcode-btn{
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    padding: 0px 8px;
    right: 20%;
    top: 50%;
    border: none;
    width: 32px;
    height: 32px;
    box-sizing: content-box;
    transform: translateY(-50%);
}

.shortcode.shortcode-with-cpybtn .cpy-shortcode-btn:active{
    background-color: #F5F5F5;
}